.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: rgb(10, 10, 10, 0.9);
    backdrop-filter: blur(8px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: #00e0b8;
    letter-spacing: 1px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links a{
    font-size: 1rem;
    font-weight: 400;
    color: #e0e0e0;
    transition:0.3s;
}

.nav-links a:hover{
    color: #00e0b8;
    text-shadow: 0 0 5px #00e0b8;
}